@using AIMGSM.ViewModels;
@using AIMGSM.Data;
@model ServiceVM
<header class="page-section bg-black">
    <div class="container text-center">
        <h2 class="masthead-subheading text-uppercase text-light">Dodanie Serwisu</h2>
    </div>
</header>
<section class="page-section bg-light">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading">Serwis :</h2>
        </div>
        <form asp-action="ServiceAdd" method="post">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
            </div>
            <div class="form-group pt-3">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" class="form-control">
                    <option value="">-- Select a type --</option>
                    @foreach (var type in Enum.GetValues(typeof(TypeEnum)))
                    {
                        <option value="@type">@type</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>

    </div>
</section>