<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 , shrink-to-fit=no "/>
    <title>@ViewData["Title"] - AIMGSM</title>
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AIMGSM.styles.css" asp-append-version="true" />
</head>
<body id="page-top">
    <div class="myheader navbar px-5 py-2">
                <ul class="navbar-nav ms-auto flex-row mx-5">
            <li class="nav-item align-text-center me-5"><a class="nav-link mylink text-decoration-none" href="~/Home/Contact">Tel: +536 886 386</a></li>
                    <li class="nav-item"><a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"><i class="fab fa-twitter"></i></a></li>
                    <li class="nav-item"><a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="nav-item"><a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a></li>
                    <li class="nav-item"><a class="btn-social mx-2 mylink" href="#!" aria-label="LinkedIn"><img src="~/assets/img/allegro-custom.svg"></img></a></li>
                    <li class="nav-item ms-auto pe-5"><a class="nav-link mylink text-decoration-none" href="~/Home/Contact">Pon-Pt: 11:00-19:00, Sobota: 11:00-16:00</a></li>
                </ul>
    </div>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container px-4 px-lg-5">
                <!-- <div class="collapse navbar-collapse flex-inherit" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link">+666 666 666</a></li>
                    </ul>
                </div> -->
                <a class="navbar-brand" href="~/home/index">
                    <img src="~/assets/img/AIMGSM-logo3.jpg"/>
                </a>
                <a class="navbar-brand" href="/Home/Index">AIMGSM</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars">
                    </i>
                </button>
                <!--
                <div class="collapse navbar-collapse">
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                </div>-->
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <!--<li class="nav-item align-text-center">
                            <a class="nav-link" href="#">
                            Godziny otwatcia</br>
                            7:00-16:00
                            </a>
                        </li>-->
                        <li class="nav-item mydropdown">
                            <a class="nav-link" href="/Home/ServicesPhoneBrand">Serwis</a>
                            <div class="mydropdown-content">
                            <a class="nav-link" href="~/Home/ServicesPhoneBrand">Telefony</a>
                            <a class="nav-link" href="~/Home/PricesByType?type=Laptop">Laptopy</a>
                            <a class="nav-link" href="~/Home/PricesByType?type=Scooter">Hulajnogi</a>
                            <a class="nav-link" href="~/Home/PricesByType?type=Vacuum">Odkurzacze</a>
                            <a class="nav-link" href="~/Home/PricesByType?type=Account">Konta&nbsp;Xiaomi, Bypass FRP</a>
                            </div>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="~/Home/Blog">Nowości</a></li>
                        <li class="nav-item"><a class="nav-link" href="~/Home/Buyup">Skup</a></li>
                        <li class="nav-item"><a class="nav-link" href="~/Home/Contact">Kontakt</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div>
        <main role="main" class="pb-6">
            @RenderBody()
        </main>
    </div>
    <button onclick="topFunction()" class="top-btn" id="topBtn"><i class="fa-solid fa-angle-up" style="color: #ffffff;"></i></button>
    <section class="page-section bg-black">
        <div class="mt-minus p-3">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2446.95463898864!2d21.025148115794526!3d52.171518179749725!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471932c0e49a8331%3A0x9277af9040dd95c0!2sSonaty%205%2Fu11%2C%2002-744%20Warszawa!5e0!3m2!1spl!2spl!4v1683223511522!5m2!1spl!2spl" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
    <footer class="footer py-4">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 text-lg-start">Copyright &copy; AIMGSM 2023</div>
                <div class="col-lg-4 my-3 my-lg-0">
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <div class="col-lg-4 text-lg-end">
                    <a class="link-light text-decoration-none me-3" href="#!">Privacy Policy</a>
                    <a class="link-light text-decoration-none" href="#!">Terms of Use</a>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
