@using AIMGSM.ViewModels;
@model ServiceVM
<section class="page-section bg-light">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading">Serwisy :DDDDD</h2>
        </div>
        <table class="table">
            <tr class="table-primary">
                <th>1</th>
                <th>2</td>
                <th>3</th>
                <th>4</th>
            </tr>
            <tr>
                <td>raz</td>
                <td>dwa</td>
                <td>trzy</td>
                <td>cztery</td>
            </tr>
        </table>
    </div>
</section>