<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Serwisy telefonów</h2>
            <h3 class="section-subheading text-muted">wybierz producenta który ciebie interesuję</h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4 p-4">
                <!-- Portfolio item 1-->
                <a class="portfolio-link text-decoration-none text-black-50" href="~/Home/PricesByBrand?brand=Apple">
                <div class="portfolio-item">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="~/assets/img/phones/iphone.png" alt="..." />
                    
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Apple</div>
                    </div>
                </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 p-4">
                <!-- Portfolio item 2-->
                <a class="portfolio-link text-decoration-none text-black-50" href="~/Home/PricesByBrand?brand=Samsung">
                <div class="portfolio-item">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="~/assets/img/phones/iphone.png" alt="..." />
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Samsung</div>
                    </div>
                </a>    
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 p-4">
                <!-- Portfolio item 3-->
                <a class="portfolio-link text-decoration-none text-black-50" href="~/Home/PricesByBrand?brand=Xiaomi">
                <div class="portfolio-item">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="~/assets/img/phones/iphone.png" alt="..." />
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Xiaomi</div>
                    </div>
                </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 p-4">
                <!-- Portfolio item 4-->
        <a class="portfolio-link  text-decoration-none text-black-50" href="~/Home/PricesByBrand?brand=LG">
                <div class="portfolio-item">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="~/assets/img/phones/iphone.png" alt="..." />
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">LG</div>
                    </div>
                </a>    
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 p-4">
                <!-- Portfolio item 5-->
        <a class="portfolio-link  text-decoration-none text-black-50" href="~/Home/PricesByBrand?brand=Huawei">
                    <div class="portfolio-item">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"></div>
                        </div>
                        <img class="img-fluid" src="~/assets/img/phones/iphone.png" alt="..." />
                    
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Huawei</div>
                    </div>
                </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 p-4">
                <!-- Portfolio item 4-->
        <a class="portfolio-link text-decoration-none text-black-50" href="~/Home/PricesByBrand?brand=Oppo">
            <div class="portfolio-item">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="~/assets/img/phones/iphone.png" alt="..." />
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Oppo</div>
                    </div>
                </a>
                </div>
            </div>
        </div>
    </div>
</section>